profiles {

    slurm {
        process.executor = 'slurm'
    }

    rib20limited {
        executor.$local.cpus = 32
        executor.$local.memory = '500 GB'
    }

}

executor.exitReadTimeout = 5.min
executor.queueStatInterval = 2.min
executor.retry.delay = 15.s
executor.submitRateLimit = 1.sec
executor.queueGlobalStatus = true

process {

    time = { 24.h * task.attempt }

    withName: 'ENSEMBLVEP_VEP' {
        executor = 'local'
        time = 48.h
        cpus = 8
        memory = 160.GB
    }

    withName: 'MANTA_GERMLINE' {
        executor = 'local'
        time = 48.h
        cpus = 32
        memory = 200.GB
    }

    withName: 'DEEPVARIANT' {
        time = 48.h
        cpus = 16
        memory = 48.GB
    }

    withName: 'DRAGMAP_HASHTABLE' {
        ext.args = "--ht-mask-bed=/path/to/dragmap_altmask/hg38_alt_mask.bed"
        time = 48.h
    }

    withName: 'GATK4_MARKDUPLICATES' {
        time = 24.h
        cpus = 6
        memory = 100.GB
    } 

}


