profiles {

    slurm {
        process.executor = 'slurm'
    }

    rib20limited {
        executor.$local.cpus = 32
        executor.$local.memory = '500 GB'
    }

}

executor.exitReadTimeout = 5.min
executor.queueStatInterval = 2.min
executor.retry.delay = 15.s
executor.submitRateLimit = 1.sec
executor.queueGlobalStatus = true

process {

    time = { 24.h * task.attempt }

    withName: 'ENSEMBLVEP_VEP' {
        executor = 'local'
        time = 48.h
        cpus = 8
        memory = 160.GB
    }

// This is in a separate config file, because it applies to "regular" paired mutect and joint calling alike
// The start of ext.args has to be copied from sarek/conf/modules/mutect2.config to behave properly
// The main thing we inserted is the --alleles force-call vcf file
    withName: 'MUTECT2_PAIRED' {
        ext.args = { "--f1r2-tar-gz ${task.ext.prefix}.f1r2.tar.gz --normal-sample ${meta.patient}_${meta.normal_id} --pcr-indel-model NONE --alleles /path/to/pipeline_runs/merged_forced_alleles.vcf.gz " } 
        time = 48.h
        cpus = 12
        memory = 120.GB
    }

}


